body {
    overflow-x: hidden;
}

body.No-Scroll{
    overflow: hidden;
    touch-action: none;
}

.NavBar-Holder,
.Direction-Tabs {
    box-sizing: border-box;
}

.NavBar-Holder{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
/* ===============progress bar================ */
.ProgressBar-Wrapper {
    width: 100%;
    height: 6px;
    background: #eee;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    margin: 0;
}
.ProgressBar {
    height: 100%;
    width: 0%;
    background: #000000;
    transition: none;
    position: absolute;
    left: 0;
    top: 0;
}
/* ===============direction Tabs================ */
.Direction-Tabs {
    display: flex;
    justify-content: space-between;
    background: #9ba4b4;
    padding: 0 10px;
    position: fixed;
    top: 66px;
    left: 0;
    width: 100%;
    z-index: 999;
    /* border-radius: 8px; */
}

.Direction-Tab {
    flex: 1;
    margin: 6px 4px;
    padding: 10px 0;
    background: #e5e9f2;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #222;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.Direction-Tab.active {
    background: #e5e9f2;
    color: #222;
}
/* list bus time table */

.StopContainer {
    width: 100%;
}

.StopItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.TimeBox {
    width: 60px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.Stop-Sequence {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 24px;
    margin: 0 10px;
}

.StopContent {
    display: flex;
    flex-direction: column;
}

.BusPlate {
    font-size: 0.75rem;
    color: #007bff;
}

.StopName {
    font-size: 1rem;
    font-weight: 500;
}

/* ===============Bottom Sheet================ */
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5); /* 半透明黑色 */
    z-index: 1999; /* 比 bottomSheet 低一層 */
    display: none; /* 初始不顯示 */
}

.Overlay.Show {
    display: block;
}

.Bottom-Sheet {
    position: fixed;
    bottom: -300px; /* 初始藏在下方 */
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
    transition: bottom 0.3s ease;
    z-index: 2000;
    font-family: sans-serif;
}

.Bottom-Sheet.Show {
    bottom: 0; /* 顯示時往上冒出來 */
}

.Sheet-Content {
    padding: 20px;
    text-align: center;
}

.Sheet-Content button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    background: none;
    font-size: 16px;
    border-top: 1px solid #ddd;
}

.Cancel {
  color: red;
  font-weight: bold;
}

